#insta{
    position: relative;
    padding: 10px;
    height: 600px;
    background-color: rgb(245, 245, 245);
}
.left-cnt{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
.right-cnt{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.left-float{
    position: relative;
    top: 50px;
}

.right-float{
    position: relative;
    top: 50px;
}

.centre-float{
    position: absolute;
    bottom: 50px;
    left: 43%;
    width: 150px !important;
    height: 250px;
}
















.instagram{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.instagram img{
    width: 300px;
    height: 400px;
}

.centre-img{

}

.mt-50{
    margin-top: 50px;
}


img{
    height: 350px;
    width: 300px;
}